################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserAppService/obj/Debug/netcoreapp2.0
