@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    http://moldedbits.com<br />
    3rd Floor, Khasra 405<br />
    Opposite Metro Pillar 119<br />
    Ghitorni, New Delhi<br />
    110030<br />
    <abbr title="Phone">Contact - 088601 94097</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>